@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
      font-family: Roboto, system-ui, sans-serif;
      background-color: theme('colors.gray.600');
    }

    :focus {
      outline: 2px solid theme('colors.green.50');
    }

}